.vscode
.DS_Store
.env
.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/**/*
.ipynb_checkpoints/**/**/*
.ipynb_checkpoints/**/**/**/*
.ipynb_checkpoints/**/**/**/**/*
.ipynb_checkpoints/**/**/**/**/**/*

.cursorrules
.cursorignore
.cursorignorerules
.cursorignorerules/**/*
.cursorignorerules/**/**/*
.cursorignorerules/**/**/**/*
.cursorignorerules/**/**/**/**/*
.cursorignorerules/**/**/**/**/**/*
.cursorignorerules/**/**/**/**/**/**/*

# ignore all the jld2 files
ML/model/*.jld2
*.jld2
